.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.grid div {
  text-align: center;
  height: 40px;
  width: 40px;
}

.bomb {
  background-color: coral;
}

.checked {
  background-color: yellowgreen;
}
